html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: 'Russo One', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

button {
  font-family: 'Russo One', sans-serif;
}

.background {
  position: relative;

  &__main {
    position: absolute;
    z-index: -1;
    width: 100%;

    @media screen and (max-width: 800px) {
      margin-top: 140px;
    }
  }

  &__guitar {
    position: absolute;
    z-index: -1;
    width: 100vw;
    margin-left: -7vw;
    margin-top: -30vh;

    // @media screen and (max-width: 1550px) {
    //   margin-top: -20vh;
    // }

    // @media screen and (max-width: 1300px) {
    //   margin-top: -10vh;
    // }

    @media screen and (max-width: 1100px) {
      margin-top: 1vh;
    }

    @media screen and (max-width: 900px) {
      margin-top: 5vh;
    }

    @media screen and (max-width: 800px) {
      margin-top: 0vh;
    }
  }

  &__parameters {
    position: absolute;
    z-index: -3;
    width: 80vw;
    margin-top: -10vh;
  }

  &__washburn {
    position: absolute;
    z-index: -2;
    height: 110vh;
    margin-left: 10vw;

    // @media screen and (max-width: 1550px) {
    //   height: 90vh;
    // }

    // @media screen and (max-width: 1220px) {
    //   height: 80vh;
    // }

    @media screen and (max-width: 650px) {
      height: 40vh;
    }
  }

  &__premium {
    position: absolute;
    z-index: -2;
    height: 90vh;
    margin-left: 19vw;

    // @media screen and (max-width: 1550px) {
    //   height: 70vh;
    // }

    // @media screen and (max-width: 1220px) {
    //   height: 60vh;
    // }

    @media screen and (max-width: 1100px) {
      margin-left: 25vw;
    }

    @media screen and (max-width: 650px) {
      height: 30vh;
      margin-left: 20vw;
    }
  }

  &__guitarparam {
    position: absolute;
    z-index: -1;
    height: 150vh;
    margin-left: 5vw;

    // @media screen and (max-width: 1700px) {
    //   height: 110vh;
    // }

    // @media screen and (max-width: 1550px) {
    //   height: 100vh;
    // }

    // @media screen and (max-width: 1300px) {
    //   height: 90vh;
    //   margin-top: 10vh;
    // }

    @media screen and (max-width: 1100px) {
      height: 70vh;
      margin-top: 50vh;
    }

    @media screen and (max-width: 900px) {
      height: 60vh;
      margin-top: 70vh;
    }

    @media screen and (max-width: 800px) {
      height: 70vh;
      margin-top: 80vh;
      margin-left: -5vw;
    }

    @media screen and (max-width: 650px) {
      height: 30vh;
      margin-top: 30vh;
      margin-left: 10vw;
    }

    @media screen and (max-width: 500px) {
      margin-top: 40vh;
      margin-left: 5vw;
    }
  }
}