.description {
  padding: 180px 130px;

  @media screen and (max-width: 1000px) {
    padding: 80px 60px;
  }

  &__title {
    padding-left: 43vw;
    font-size: 2.2rem;
    color: #FFFFFF;

    @media screen and (max-width: 900px) {
      padding-left: 30vw;
      font-size: 2rem;
    }

    @media screen and (max-width: 750px) {
      padding-left: 0vw;
      font-size: 1.5rem;
    }

    @media screen and (max-width: 700px) {
      padding-top: 190px;
    }

    &-highlight {
      background: linear-gradient(45deg, #FFD53E, #D43F10);
      -webkit-background-clip: text; // Обеспечивает работу на WebKit браузерах
      -webkit-text-fill-color: transparent; // Делаем цвет текста прозрачным, чтобы увидеть градиент 
      background-clip: text; // Для современных браузеров
      color: transparent;
    }
  }

  &__container {
    padding-left: 43vw;
    padding-top: 18vh;

    @media screen and (max-width: 900px) {
      padding-left: 30vw;
      font-size: 2rem;
    }

    @media screen and (max-width: 800px) {
      padding-left: 0vw;
      font-size: 2rem;
    }

    @media screen and (max-width: 700px) {
      padding-top: 0px;
    }

    &-paragraph {
      color:#FFFFFF;
      font-family: 'Advent Pro', sans-serif;
      padding-top: 5vh;

      @media screen and (max-width: 1100px) {
        padding-top: 2vh;
      }

      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }
    
    &__yellow {
      background: linear-gradient(45deg, #FFD53E, #D43F10);
      -webkit-background-clip: text; // Обеспечивает работу на WebKit браузерах
      -webkit-text-fill-color: transparent; // Делаем цвет текста прозрачным, чтобы увидеть градиент 
      background-clip: text; // Для современных браузеров
      color: transparent;
      font-family: 'Russo One', sans-serif;
      }

    &__blue {
      color: #61C3E5;
    }
    }
  }
}