@font-face {
  font-family: 'Russo One';
  src: url('../fonts/Russo-One.eot');
  src: url('../fonts/Russo-One.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Russo-One.woff') format('woff'),
  url('../fonts/Russo-One.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: url('../fonts/AdventPro-Light.eot');
  src: url('../fonts/AdventPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AdventPro-Light.woff') format('woff'),
  url('../fonts/AdventPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: url('../fonts/AdventPro-Medium.eot');
  src: url('../fonts/AdventPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AdventPro-Medium.woff') format('woff'),
  url('../fonts/AdventPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}