.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 130px;

  @media screen and (max-width: 650px) {
    padding: 10px 60px;
  }

  &__title {
    color: white;

    &-heading {
      font-size: 30px;

      @media screen and (max-width: 700px) {
        font-size: 15px;
      }

      &__highlight {
        color: yellow;
      }
    }

    &-shipping {
      @media screen and (max-width: 700px) {
        font-size: 10px;
      }
    }
  }

  &__button {
    display: inline-block;
    background: url('../images/button.png') no-repeat center center;
    background-size: contain;
    width: 400px;
    height: 85px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    padding-top: 15px;

    @media screen and (max-width: 800px) {
      width: 200px;
      height: 55px;
      padding-top: 15px;
      font-size: 10px;
    }
  }

  &__button:hover {
    opacity: 0.9;
  }
}

